{% extends 'blog/base.html' %}
{%block content%}



    {% comment %} <div class="container">
    <div class="col-md-12 col-lg-12">
        {% for post in posts %}
        <article class="post vt-post">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                    <div class="post-type post-img">
                        <a href="#"><img src="{{ post.image.url }}" class="img-responsive" alt="image post"></a>
                    </div>
                    <div class="author-info author-info-2">
                        <ul class="list-inline">
                            <li>
                                <div class="info">
                                    <p>Posted on:</p>
                                    <strong>{{ post.date_posted|date:"F d, Y" }}</strong></div>
                            </li>
                            <li>
                                <div class="info">
                                    <p>Author:</p>
                                    <strong>{{ post.author }}</strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                    <div class="caption">
                        <h3 class="md-heading"><a >{{ post.title }}</a></h3>
                        <p> {{ post.content|truncatewords:"70" }}</p>
                        <a class="btn btn-secondary" href="{%url 'post-detail' post.id%}" role="button">Read More</a> </div>
                </div>
            </div>
        </article> {% endcomment %}
 <main>
            <section class="site-title">
                <div class="site-background">
                    <h3>Tech i IT</h3>
                    <h1>Blog, projekty, newsy</h1>
                    <button class="btn">Explore</button>
                </div>
            </section>    
        </main>
<div class="container-fluid">
<div class="row justify-content-center px-4">
    

    {% comment %} <div class="col-lg-8 col-md-11 col-10 mx-auto float-left"> {% endcomment %}
    <div class="col-lg-9 col-md-9 col-12  ">
    {% for post in posts %}
                <br>
                <div class="row" >
                    <div class="card shadow px-5">
                        <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-5 ">
                            <h1 class="text-uppercase">{{ post.title }}</h1>
                            <p class="blog_title"> <span class="font-weight-bold"> Title description, </span> {{ post.date_posted|date:"F d, Y" }} </p>
                        </div>
                        {% if forloop.counter0|divisibleby:2 %}
                        <div class="row">
                            <div class = "col">
                                <figure class="right_side_img mb-5">
                                    <img src="{{ post.image.url }}" class="img-fluid shadow">
                                </figure>
                            </div>
                            <div class = "col">
                                <p><span class="font-weight-bold"></span> {{post.content|striptags|safe|truncatewords:"70"}} </p>
                                
                            </div>    
                        </div>
                        {%else%}
                        <div class="row">
                            <div class = "col px-10">
                                <p><span class="font-weight-bold"></span>{{post.content|striptags|safe|truncatewords:"70" }}</p>
                                
                            </div> 
                            <div class = "col px-3">
                                <figure class="right_side_img mb-5">
                                    <img src="{{ post.image.url }}" class="img-fluid shadow">
                                </figure>
                            </div>   
                        </div>
                        {% endif %}
                        <a class="btn btn-dark mx-0" href="{%url 'post-detail' post.id%}" role="button">Read More</a> 
                    </div>
                    
                </div>
                
                            

            {% endfor %}
            </div>
            
            {% comment %} <div class="pagination-wrap">
                <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
                </nav>
            </div> {% endcomment %}
            {% comment %} <div class="clearfix"></div>
        </div>
    </div> {% endcomment %}
    <div class="col-md-3 pt-4  ml-1">
        <div class="content-section shadow card pt-1 ">
            <h3>Kategorie</h3>
            {% comment %} <p class='text-muted'>You can put any information here you'd like. {% endcomment %}
            <ul class="list-group">
                <a href="{% url 'blog-home' 'News' %}" class="list-group-item list-group-item-action list-group-item-dark">News</a>
                <a href="{% url 'blog-home' 'Python' %}" class="list-group-item list-group-item-action list-group-item-dark">Python</a>
                <a href="{% url 'blog-home' 'kompedium' %}" class="list-group-item list-group-item-action list-group-item-dark">Kompedium</a>
            </ul>
            </p>
        </div> 
    </div>  

    </div> 
    
</div>    
{% endblock content %}
