{% extends 'blog/base.html' %}
{%block content%}



    <div class="container">
    <div class="col-md-12 col-lg-12">
        {% for post in posts %}
        <article class="post vt-post">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                    <div class="post-type post-img">
                        <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-responsive" alt="image post"></a>
                    </div>
                    <div class="author-info author-info-2">
                        <ul class="list-inline">
                            <li>
                                <div class="info">
                                    <p>Posted on:</p>
                                    <strong>{{ post.date_posted|date:"F d, Y" }}</strong></div>
                            </li>
                            <li>
                                <div class="info">
                                    <p>Author:</p>
                                    <strong>{{ post.author }}</strong></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                    <div class="caption">
                        <h3 class="md-heading"><a >{{ post.title }}</a></h3>
                        <p> {{ post.content|truncatewords:"70" }}</p>
                        <a class="btn btn-secondary" href="{%url 'post-detail' post.id%}" role="button">Read More</a> </div>
                </div>
            </div>
        </article>


         {% endfor %}
        {% comment %} <div class="pagination-wrap">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
        </div> {% endcomment %}
        <div class="clearfix"></div>
    </div>
</div>
{% endblock content %}
