{% extends 'blog/base.html' %}
{%block content%}
    
        <article class="media content-section">
        
        <div class="media-body">

            <div class="article-metadata">

                <div class="landscape">
                    <img class = "rounded-circle article-img" src = "{{ object.author.profile.image.url }}">
                </div>

                
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {%if object.author == user %}
                <div>
                    <a class = "btn btn-secondary btn-sm mt-1 mb-1" href ="{% url 'post-update' object.id %}">Update</a>
                    <a class = "btn btn-danger btn-sm mt-1 mb-1" href ="{% url 'post-delete' object.id %}">Delete</a>
                </div>    
                {%endif%}
            </div>

            <h2 class="article-title"> {{ object.title }} </h2>
            {% for line in content_list %}

                 {%if "src" in line%}
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-responsive" alt="image post"></a>
                {%else%}
                    <p class="article-content">{{ line }}</p>
                {%endif%}

            {% endfor %}     

        </div>
    </article>
  
{% endblock content %}